@page "/movies/create"
@using Microsoft.EntityFrameworkCore
@using Movies.Models
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Movie</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Movie" OnValidSubmit="AddMovie" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Movie.Title" class="form-control" /> 
                <ValidationMessage For="() => Movie.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="releasedate" class="form-label">ReleaseDate:</label> 
                <InputDate id="releasedate" @bind-Value="Movie.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => Movie.ReleaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label> 
                <InputText id="genre" @bind-Value="Movie.Genre" class="form-control" /> 
                <ValidationMessage For="() => Movie.Genre" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="URL" class="form-label">URL:</label>
                <InputText id="URL" @bind-Value="Movie.URL" class="form-control" />
                <ValidationMessage For="() => Movie.URL" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="brief" class="form-label">Brief:</label>
                <InputTextArea id="brief" @bind-Value="Movie.Brief" class="form-control" rows="4" placeholder="Введите сюжет фильма..." />
                <ValidationMessage For="() => Movie.Brief" />
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">IMG:</label>
                <InputFile OnChange="SelectFile" class="form-control" accept=".jpg,.jpeg,.png" />
                @if (Movie.Img != null)
                {
                    <div class="mt-2">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Movie.Img)"
                             style="max-width: 200px; border: 1px solid #ccc; border-radius: 5px;" />
                    </div>
                }
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Movie Movie { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMovie()
    {
        using var context = DbFactory.CreateDbContext();
        context.Movie.Add(Movie);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/movies");
        Console.WriteLine(Movie.Img?.Length);
    }

    private async Task SelectFile(InputFileChangeEventArgs e)
    {
        var file = e.File; 
        
        if (file != null)
        {
            using var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
            
            using var ms = new MemoryStream();

            await stream.CopyToAsync(ms);

            Movie.Img = ms.ToArray();

            StateHasChanged();
        }
    }
}
