
<div class="top-row ps-3 navbar">
    <div class="container-fluid">
       
        <RadzenText TextStyle="TextStyle.H6" Class="rz-m-0" Style="color: var(--rz-sidebar-color);">Movies</RadzenText>
    </div>
</div>

<div class="nav-scrollable">
    <RadzenPanelMenu Style="width: 100%;">
        <RadzenPanelMenuItem Text="Home" Path="" Icon="home" />
        
        <RadzenPanelMenuItem Text="Counter" Path="counter" Icon="add_circle_outline" />
        
        <RadzenPanelMenuItem Text="Weather" Path="weather" Icon="cloud" />
        
       
        <RadzenPanelMenuItem Path="movies">
            <Template>
                <img src="img/icon.png" alt="icon" style="width:20px; height:20px; margin-right:10px;" />
                <RadzenText TextStyle="TextStyle.Body1" TagName="TagName.Span" Style="color: inherit;">Movies</RadzenText>
            </Template>
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>