@page "/TODO"
@rendermode InteractiveServer
@using TODOlist.Classes;


<PageTitle>TODO</PageTitle>
<h3>TODO</h3>
<div class="statistics">
    <div><h4>Всего: @todos.Count</h4></div>
    <div><h4>Выполненнo: @todos.Where(t =>t.DONE == true).Count()</h4></div>
    <div><h4>Запланированнo: @todos.Where(t => t.DONE == false).Count()</h4></div>
</div>
<input type="text" placeholder="Что Вы хотите сделать?" @bind="task" 
@onkeyup='( KeyboardEventArgs e) => {if(e.Key == "Enter")AddTask();}'/>
<button @onclick="AddTask">Добавить</button>

<ul>
    @foreach(TODOitem i in todos)
    {
        <li class=@(i.DONE ? "complete-task" : "")> 
            <input type="checkbox" @bind="i.DONE" id=@i.GetHashCode().ToString()/> 
            <label for=@i.GetHashCode().ToString()>@i.Title</label>
            <button class="delete" @onclick='() => {todos.Remove(i);}'>x</button>
        </li>
    }
</ul>
