<h3>Weekdays</h3>

<ul class="weekdays"> 
    @for (int i =0; i<7; i++)
    {
        <li><InputCheckbox @bind-Value="learning_days[i]"/>@DAYNAMES[i]</li>
    }
</ul>



@code {
    readonly string[] DAYNAMES = { "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ", "ВС" };
    bool[] learning_days = new bool[7];
}
