@rendermode InteractiveServer


<h3>Weekdays</h3>

<ul class="weekdays form-control"> 
    @for (int i =0; i<7; i++)
    {
        int index = i;
        <li>
            <input type="checkbox" id="@DAYNAMES[index]" @bind="days[index]" @bind:after="Compress" />
            @* <InputCheckbox id="@DAYNAMES[i]" @bind-Value=" learning_days[i]"@onchange="Compress" /> *@
            <label for="@DAYNAMES[i]">@DAYNAMES[i]</label>
        </li>
            
    }
</ul>
 <div class="mb-3">
    <label for="mask" class="form-label">mask:</label>
    <InputNumber id="mask" @bind-Value="mask" class="form-control" />
    @* <ValidationMessage For="() => mask" class="text-danger" /> *@
</div> 

@code {
    readonly string[] DAYNAMES = { "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье" };
    bool[] days = new bool[77];

    [Parameter] public Models.Group Group { get; set; }

    int mask;
    void Compress()
    {
        // Task.Delay(1).ContinueWith(_ =>
        // {
            mask = 0;
            for (byte i = 0; i < 7; i++)
            {          //Побитовый сдвиг
                // mask |= (byte)(1 << i) & Convert.ToByte(learning_days[i]);
                if(days[i])mask |= (byte)(1 << i);
            }
            Group.learning_days = mask;
            // InvokeAsync(StateHasChanged);
        // });
    }
}
